.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .card-avatar-img{
    height: 90%;
  }

  .example-card {
    width: 400px;
  }
  
  .example-header-image {
    background-image: url('../assets/img/sun.png');
    background-size: cover;
  }

  .mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
    font-size: 20px;
  }

  .info-value {
    font-size: 36px;
    font-weight: 700;
  }

  .alert {
    padding: 20px 35px 20px 35px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 20px;
    }

    .alert-error {
      color: #fff;
      background-color: #ac6060;
      border-color: #e4c4c9;
      }

